################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/GoDUENoLootLimit/bin
/Source/GoDUENoLootLimit/obj
/Source/GoDUENoLootLimit/.vs/GoDUENoLootLimit/v16
.vs
*.user
